@font-face {
    font-family: 'Roblox';
    src: url('fonts/font121.ttf');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

.label {
    position:relative;
    display: flex;
    justify-content: center;
}

#rizz {
    position: relative;
    top: 37vh;
    color:#000;
}
.cpsl {
    position:relative;
    display: flex;
    justify-content: center;
}

#cps {
    position: relative;
    top: 43vh;
    color:#000;
}

#clicker:hover {
    font-size: 40px;
}


.center {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upg {
    display: flex;
    justify-content: center;
    position: relative;
}

#upgrade {
    position:relative;
    top: 65vh;
    
}

#clicker {
    font-size:35px;
    font-family: 'Roblox';
    border-radius: 15px;
    padding: 20px;
    border-width: 10px;
    border-color:#000;
    border-style:solid;
    position: relative;
    top: 0.1vh;
    background: linear-gradient(red,blue);
    align-content: center;
}

